In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

## market 데이터 변수 축소-각 변수별 그래프 그려보고 비슷한 양상을 보이는 변수끼리 묶기

In [2]:
import pandas as pd
import numpy as np

In [3]:
m=pd.read_csv('2019빅데이터페스티벌데이터/market_noDram_final.csv', encoding= 'euc_kr')

In [4]:
m

,날짜,A등급 구리(현물),니켈(현물),알루미늄 99.7%(현물),금괴(일간),미국1년,미국3년,미국10년,국고채권(1년),국고채권(3년),국고채권(10년),브랜트유 가격,원유 WTI
0,2001-01-02,1746.3,6935.0,1552.5,270.60,5.20,4.80,4.9,6.70,6.70,7.20,24.30,27.20
1,2001-01-03,1716.8,6370.0,1515.5,267.50,5.10,4.90,5.2,6.60,6.60,7.20,25.00,28.00
2,2001-01-04,1750.5,6569.0,1519.0,267.70,4.90,4.80,5.0,6.40,6.40,6.90,25.40,28.10
3,2001-01-05,1740.3,6607.0,1527.5,268.20,4.60,4.60,4.9,6.20,6.20,6.70,25.20,28.00
4,2001-01-08,1775.0,6734.0,1578.0,268.30,4.60,4.60,4.9,6.10,6.10,6.60,24.40,27.30
5,2001-01-09,1783.3,6796.0,1572.3,267.40,4.70,4.70,5.0,6.10,6.10,6.70,24.60,27.60
6,2001-01-10,1779.8,6947.0,1591.0,266.30,4.90,4.80,5.1,6.10,6.10,6.70,25.30,29.50
7,2001-01-11,1795.0,7140.0,1597.5,263.90,4.90,4.80,5.1,6.00,6.00,6.60,25.60,29.40
8,2001-01-12,1807.5,7325.0,1632.5,264.30,5.00,4.90,5.2,6.00,6.00,6.60,25.80,30.10
9,2001-01-15,1800.8,7145.0,1626.0,263.60,5.18,5.05,5.2,6.00,6.00,6.60,26.20,30.36
10,2001-01-16,1754.0,6995.0,1587.0,264.50,5.00,4.90,5.2,5.90,5.90,6.60,26.20,30.30
11,2001-01-17,1776.0,7320.0,1609.0,263.60,4.90,4.80,5.2,5.90,5.70,6.60,24.80,29.60
12,2001-01-18,1835.0,7415.0,1661.0,264.70,4.80,4.70,5.1,5.90,5.80,6.50,25.60,29.80
13,2001-01-19,1823.0,7278.0,1648.5,264.60,4.80,4.80,5.2,5.90,5.80,6.50,27.00,32.20
14,2001-01-22,1834.8,7265.0,1642.5,265.90,4.80,4.80,5.2,5.90,5.80,6.50,26.50,32.20
15,2001-01-23,1828.0,7089.0,1659.0,266.20,4.90,4.80,5.3,5.76,5.65,6.32,26.70,31.30
16,2001-01-24,1799.8,7080.0,1644.5,264.70,4.90,4.80,5.3,5.33,4.78,5.85,26.30,31.20
17,2001-01-25,1801.5,7005.0,1661.0,264.70,4.90,4.80,5.3,4.41,3.32,4.89,26.50,31.60
18,2001-01-26,1796.0,6720.0,1700.0,263.80,4.80,4.80,5.3,5.90,5.80,6.60,27.00,29.80
19,2001-01-29,1781.5,6780.0,1686.0,263.00,4.80,4.80,5.3,5.90,5.80,6.60,26.60,29.10
20,2001-01-30,1791.0,6935.0,1711.0,266.20,4.70,4.80,5.2,5.80,5.70,6.60,26.90,29.10
21,2001-01-31,1799.8,7020.0,1716.0,265.20,4.60,4.70,5.1,5.70,5.70,6.50,26.70,28.70
22,2001-02-01,1804.8,6845.0,1700.0,267.40,4.60,4.60,5.1,5.70,5.60,6.50,28.10,29.80
23,2001-02-02,1795.0,6920.0,1687.0,267.20,4.70,4.70,5.1,5.60,5.50,6.50,29.20,31.20
24,2001-02-05,1777.0,6850.0,1653.3,265.70,4.70,4.70,5.2,5.60,5.40,6.50,28.50,30.60
25,2001-02-06,1774.0,6870.0,1620.0,263.30,4.70,4.80,5.2,5.50,5.30,6.40,28.70,30.40
26,2001-02-07,1778.0,6900.0,1619.0,263.20,4.80,4.70,5.2,5.50,5.20,6.30,29.90,31.30
27,2001-02-08,1779.5,6850.0,1642.5,263.10,4.70,4.80,5.1,5.50,5.30,6.30,29.80,31.60
28,2001-02-09,1763.5,6490.0,1627.3,260.20,4.70,4.70,5.0,5.40,5.20,6.10,29.30,31.00
29,2001-02-12,1761.0,6586.0,1618.0,261.50,4.70,4.70,5.0,5.20,5.00,5.90,29.00,30.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4665,2018-11-20,6206.0,11027.0,1929.3,1224.20,2.70,2.80,3.0,1.90,1.90,2.20,62.40,53.40
4666,2018-11-21,6269.0,10951.5,1943.0,1226.60,2.70,2.90,3.1,1.90,1.90,2.20,63.50,54.60
4667,2018-11-22,6286.3,10902.3,1936.8,1227.80,2.70,2.90,3.1,1.90,1.90,2.20,62.50,54.61
4668,2018-11-23,6236.5,10849.0,1938.3,1223.20,2.70,2.80,3.1,1.80,1.90,2.20,59.20,50.40
4669,2018-11-26,6221.0,10803.5,1940.5,1223.30,2.70,2.90,3.1,1.80,1.90,2.20,60.40,51.60
4670,2018-11-27,6155.3,10700.0,1920.5,1213.20,2.70,2.90,3.1,1.80,1.90,2.20,60.90,51.60
4671,2018-11-28,6244.0,10726.5,1924.8,1213.50,2.70,2.80,3.0,1.80,1.90,2.20,58.60,50.30
4672,2018-11-29,6247.5,10984.0,1936.8,1227.40,2.70,2.80,3.0,1.80,1.90,2.10,59.30,51.50
4673,2018-11-30,6227.0,11135.5,1957.3,1219.20,2.70,2.80,3.0,1.80,1.90,2.10,58.70,50.90
4674,2018-12-03,6312.5,11179.5,1972.3,1234.20,2.70,2.80,3.0,1.80,1.90,2.10,61.90,53.00
4675,2018-12-04,6212.5,11080.5,1972.5,1238.40,2.70,2.80,2.9,1.80,1.90,2.10,61.30,53.30
4676,2018-12-05,6175.0,11156.0,1970.3,1237.80,2.70,2.80,2.9,1.80,1.90,2.10,61.60,52.90
4677,2018-12-06,6079.5,10780.5,1937.0,1242.90,2.70,2.80,2.9,1.80,1.80,2.00,60.30,51.50
4678,2018-12-07,6149.0,10845.5,1950.8,1245.80,2.70,2.70,2.9,1.80,1.80,2.00,61.40,52.60
4679,2018-12-10,6088.5,10729.5,1928.8,1246.70,2.70,2.70,2.9,1.80,1.80,2.00,59.80,51.00
4680,2018-12-11,6170.5,10696.5,1927.5,1244.20,2.70,2.80,2.9,1.80,1.80,2.00,60.50,51.70
4681,2018-12-12,6144.8,10727.0,1922.0,1246.20,2.70,2.80,2.9,1.80,1.80,2.00,60.20,51.20
4682,2018-12-13,6158.5,10780.5,1913.8,1242.70,2.70,2.80,2.9,1.80,1.80,2.00,61.70,52.60
4683,2018-12-14,6127.8,11009.5,1908.3,1238.70,2.70,2.70,2.9,1.80,1.80,2.00,60.30,51.20
4684,2018-12-17,6095.5,10907.5,1943.3,1242.60,2.70,2.70,2.9,1.80,1.80,2.00,58.70,49.90
4685,2018-12-18,5944.8,10752.5,1920.8,1246.40,2.60,2.60,2.8,1.80,1.80,2.00,56.10,46.20
4686,2018-12-19,5990.5,10868.0,1927.5,1255.90,2.60,2.60,2.8,1.70,1.80,1.90,56.60,47.20
4687,2018-12-20,5977.5,10832.0,1911.3,1258.10,2.60,2.60,2.8,1.70,1.80,1.90,54.70,45.90
4688,2018-12-21,5967.5,10796.0,1907.8,1259.90,2.60,2.60,2.8,1.70,1.80,2.00,53.50,45.60
4689,2018-12-24,5931.8,10801.0,1897.8,1265.50,2.60,2.60,2.8,1.70,1.80,2.00,50.50,42.50
4690,2018-12-25,5931.8,10801.0,1897.8,1265.02,2.60,2.60,2.8,1.70,1.79,2.01,50.54,42.56
4691,2018-12-26,5931.8,10801.0,1897.8,1278.60,2.60,2.60,2.8,1.70,1.80,1.90,54.90,46.20
4692,2018-12-27,5969.0,10673.0,1856.5,1275.30,2.60,2.50,2.7,1.70,1.80,1.90,53.00,44.60
4693,2018-12-28,5987.0,10647.0,1856.8,1277.50,2.60,2.50,2.7,1.70,1.80,1.90,52.20,45.30
4694,2018-12-31,5949.0,10604.5,1862.8,1281.30,2.60,2.50,2.7,1.70,1.80,1.90,54.20,45.40

## m에서 'A등급 구리(현물)','니켈(현물)','알루미늄 99.7%(현물)'만 선택해서 새로운 데이터 프레임을 만들고 변수축소 수행

In [16]:
from sklearn.decomposition import PCA

pca=PCA(n_components=1)
m1=m[['A등급 구리(현물)','니켈(현물)','알루미늄 99.7%(현물)']]
m2=pca.fit(m1)
print('PCA component 별 변동성:', pca.explained_variance_ratio_)

PCA component 별 변동성: [0.95585305]

In [6]:
print(pca.components_.T)
pca.components_.T.shape

[[0.19241083]
 [0.98034117]
 [0.04369514]]

(3, 1)

In [7]:
m2.components_.T[0]

array([0.19241083])

## 한 값만 지나치게 영향을 주는 부분이 있는 것 같아 스케일링 시도

In [8]:
m1_1= StandardScaler().fit_transform(m1)

m1_1=pd.DataFrame(m1_1)
m1_1.columns=['A등급 구리(현물)','니켈(현물)','알루미늄 99.7%(현물)']
m1_1.head()

   A등급 구리(현물)    니켈(현물)  알루미늄 99.7%(현물)
0   -1.594937 -1.108757       -0.901840
1   -1.607458 -1.178171       -0.987416
2   -1.593155 -1.153723       -0.979321
3   -1.597484 -1.149054       -0.959662
4   -1.582756 -1.133451       -0.842862

In [14]:
m2_1=pca.fit(m1_1)
print('PCA component 별 변동성:', pca.explained_variance_ratio_)
print(pca.components_.T)
m2_1.components_.T.shape

PCA component 별 변동성: [0.83067367]
[[0.55586834]
 [0.57356545]
 [0.60169183]]

(3, 1)

## 그러나 스케일링 수행 할 시 세 변수에 대해 설명하는 부분이 부족하다는 판단에 스케일링 없이 차원 축소 하기로 결정함

In [18]:
pca=PCA(n_components=1)
m1=m[['A등급 구리(현물)','니켈(현물)','알루미늄 99.7%(현물)']]
m2=pca.fit(m1)

In [19]:
m2pc=m2.components_.T.reshape(1,3)
m2pc

array([[0.19241083, 0.98034117, 0.04369514]])

## pc의 계수를 통해 변수 축소 진행

In [20]:
금속=[]
for i in range(m1.shape[0]):
    a=m2pc[0,0]*m1.iloc[i,0]
    b=m2pc[0,1]*m1.iloc[i,1]
    c=m2pc[0,2]*m1.iloc[i,2]
    금속.append(a+b+c)

In [21]:
금속=pd.DataFrame(금속)
금속.head()

             0
0  7202.509750
1  6641.324150
2  6843.049220
3  6878.711003
4  7012.097592

In [22]:
m['금속']=금속
m.head()

,날짜,A등급 구리(현물),니켈(현물),알루미늄 99.7%(현물),금괴(일간),미국1년,미국3년,미국10년,국고채권(1년),국고채권(3년),국고채권(10년),브랜트유 가격,원유 WTI,금속
0,2001-01-02,1746.3,6935.0,1552.5,270.6,5.2,4.8,4.9,6.7,6.7,7.2,24.3,27.2,7202.509750
1,2001-01-03,1716.8,6370.0,1515.5,267.5,5.1,4.9,5.2,6.6,6.6,7.2,25.0,28.0,6641.324150
2,2001-01-04,1750.5,6569.0,1519.0,267.7,4.9,4.8,5.0,6.4,6.4,6.9,25.4,28.1,6843.049220
3,2001-01-05,1740.3,6607.0,1527.5,268.2,4.6,4.6,4.9,6.2,6.2,6.7,25.2,28.0,6878.711003
4,2001-01-08,1775.0,6734.0,1578.0,268.3,4.6,4.6,4.9,6.1,6.1,6.6,24.4,27.3,7012.097592

## 그리고 원본 변수들 삭제

In [23]:
market=m.drop(m1,axis=1)

## '브랜트유 가격','원유 WTI' 변수들은 그래프가 아주 흡사한 모습을 보였기에 평균으로 축소

In [24]:
m_4=m[['브랜트유 가격','원유 WTI']]
oil=[]
for i in range(m_4.shape[0]):
    a=(m_4.iloc[i,0]+m_4.iloc[i,1])/2
    oil.append(a)
oil=pd.DataFrame(oil)
market['oil']=oil
market=market.drop(m_4, axis=1)
market.head()

,날짜,금괴(일간),미국1년,미국3년,미국10년,국고채권(1년),국고채권(3년),국고채권(10년),금속,oil
0,2001-01-02,270.6,5.2,4.8,4.9,6.7,6.7,7.2,7202.509750,25.75
1,2001-01-03,267.5,5.1,4.9,5.2,6.6,6.6,7.2,6641.324150,26.50
2,2001-01-04,267.7,4.9,4.8,5.0,6.4,6.4,6.9,6843.049220,26.75
3,2001-01-05,268.2,4.6,4.6,4.9,6.2,6.2,6.7,6878.711003,26.60
4,2001-01-08,268.3,4.6,4.6,4.9,6.1,6.1,6.6,7012.097592,25.85

## 나머지 변수들에도 PCA 수행

In [26]:
m_2=m[['미국1년','미국3년','미국10년']]
m2_=pca.fit(m_2)
print('PCA component 별 변동성:', pca.explained_variance_ratio_)
print(pca.components_.T)
pca.components_.T.shape
m_2pc=m2_.components_.T.reshape(1,3)

PCA component 별 변동성: [0.9335029]
[[0.66895425]
 [0.61128065]
 [0.42289027]]

In [28]:
미국n년=[]
for i in range(m_2.shape[0]):
    a=m_2pc[0,0]*m_2.iloc[i,0]
    b=m_2pc[0,1]*m_2.iloc[i,1]
    c=m_2pc[0,2]*m_2.iloc[i,2]
    미국n년.append(a+b+c)
미국n년=pd.DataFrame(미국n년)
market=market.drop(m_2,axis=1)
market['미국n년']=미국n년

In [29]:
market.head()

,날짜,금괴(일간),국고채권(1년),국고채권(3년),국고채권(10년),금속,oil,미국n년
0,2001-01-02,270.6,6.7,6.7,7.2,7202.509750,25.75,8.484872
1,2001-01-03,267.5,6.6,6.6,7.2,6641.324150,26.50,8.605971
2,2001-01-04,267.7,6.4,6.4,6.9,6843.049220,26.75,8.326474
3,2001-01-05,268.2,6.2,6.2,6.7,6878.711003,26.60,7.961243
4,2001-01-08,268.3,6.1,6.1,6.6,7012.097592,25.85,7.961243

In [30]:
m_3=m[['국고채권(1년)','국고채권(3년)','국고채권(10년)']]
m3_=pca.fit(m_3)
print('PCA component 별 변동성:', pca.explained_variance_ratio_)
print(pca.components_.T)
pca.components_.T.shape
m_3pc=m3_.components_.T.reshape(1,3)

PCA component 별 변동성: [0.9702223]
[[0.54440254]
 [0.57661956]
 [0.60920912]]

In [31]:
국고=[]
for i in range(m_3.shape[0]):
    a=m_3pc[0,0]*m_3.iloc[i,0]
    b=m_3pc[0,1]*m_3.iloc[i,1]
    c=m_3pc[0,2]*m_3.iloc[i,2]
    국고.append(a+b+c)
국고=pd.DataFrame(국고)
market=market.drop(m_3,axis=1)
market['국고채권(n년)']=국고

## 모두 수행 후 소수점 첫째자리까지만 남도록

In [32]:
market=market.round(1)

In [33]:
market.head()

           날짜  금괴(일간)      금속   oil  미국n년  국고채권(n년)
0  2001-01-02   270.6  7202.5  25.8   8.5      11.9
1  2001-01-03   267.5  6641.3  26.5   8.6      11.8
2  2001-01-04   267.7  6843.0  26.8   8.3      11.4
3  2001-01-05   268.2  6878.7  26.6   8.0      11.0
4  2001-01-08   268.3  7012.1  25.8   8.0      10.9

In [96]:
market.to_csv('market_pca_final.csv', encoding='euc-kr')